#stars {
  width: 1px;
  height: 1px;
  border-radius: 0.5px;
  background: transparent;
  background-size: cover;
  box-shadow: 1058px 1453px #fff, 743px 338px #fff, 709px 679px #fff,
    1771px 693px #fff, 793px 1684px #fff, 377px 723px #fff, 1840px 1718px #fff,
    907px 1496px #fff, 392px 1009px #fff, 1848px 1774px #fff, 219px 516px #fff,
    1113px 660px #fff, 1938px 1121px #fff, 270px 1659px #fff, 824px 309px #fff,
    377px 977px #fff, 1682px 1154px #fff, 1290px 1628px #fff, 926px 1405px #fff,
    860px 999px #fff, 1975px 1980px #fff, 1130px 257px #fff, 1554px 645px #fff,
    1697px 1956px #fff, 486px 1346px #fff, 1556px 385px #fff, 1437px 1223px #fff,
    1125px 183px #fff, 1433px 271px #fff, 404px 1869px #fff, 492px 734px #fff,
    1467px 1324px #fff, 864px 1358px #fff, 1616px 1189px #fff,
    1258px 1730px #fff, 1503px 1718px #fff, 1309px 583px #fff, 1752px 451px #fff,
    604px 920px #fff, 1882px 606px #fff, 455px 951px #fff, 1396px 1640px #fff,
    1039px 1132px #fff, 1013px 105px #fff, 1847px 567px #fff, 322px 1091px #fff,
    996px 1447px #fff, 1972px 1452px #fff, 293px 1612px #fff, 28px 1013px #fff,
    1586px 535px #fff, 380px 781px #fff, 1171px 1231px #fff, 402px 1109px #fff,
    1212px 1352px #fff, 948px 1502px #fff, 1066px 355px #fff, 554px 1793px #fff,
    1833px 852px #fff, 1628px 56px #fff, 1036px 340px #fff, 1423px 1007px #fff,
    1870px 993px #fff, 1496px 1403px #fff, 314px 58px #fff, 207px 1058px #fff,
    1467px 1810px #fff, 1616px 876px #fff, 1766px 805px #fff, 1114px 1440px #fff,
    1429px 1837px #fff, 248px 1585px #fff, 57px 54px #fff, 1456px 350px #fff,
    1621px 825px #fff, 878px 885px #fff, 355px 1811px #fff, 281px 1465px #fff,
    645px 1004px #fff, 422px 248px #fff, 530px 68px #fff, 333px 23px #fff,
    416px 1212px #fff, 1287px 1928px #fff, 131px 934px #fff, 152px 1016px #fff,
    1571px 95px #fff, 647px 381px #fff, 1983px 95px #fff, 1940px 696px #fff,
    1647px 1807px #fff, 1012px 137px #fff, 558px 551px #fff, 620px 117px #fff,
    671px 123px #fff, 749px 394px #fff, 1758px 1982px #fff, 91px 677px #fff,
    1531px 1536px #fff, 405px 550px #fff, 801px 818px #fff, 1310px 775px #fff,
    877px 630px #fff, 535px 1842px #fff, 538px 473px #fff, 684px 636px #fff,
    1159px 765px #fff, 850px 307px #fff, 47px 457px #fff, 1019px 1738px #fff,
    1335px 1044px #fff, 491px 1202px #fff, 1515px 1347px #fff, 246px 1614px #fff,
    340px 1468px #fff, 689px 616px #fff, 1615px 482px #fff, 756px 817px #fff,
    416px 1016px #fff, 504px 1011px #fff, 225px 1875px #fff, 1143px 1494px #fff,
    1262px 23px #fff, 959px 1302px #fff, 875px 1373px #fff, 674px 1084px #fff,
    419px 649px #fff, 376px 1456px #fff, 1141px 593px #fff, 1006px 550px #fff,
    361px 1753px #fff, 1839px 1145px #fff, 571px 319px #fff, 1122px 1620px #fff,
    1599px 1591px #fff, 102px 1501px #fff, 205px 1926px #fff, 732px 189px #fff,
    361px 623px #fff, 875px 572px #fff, 416px 1634px #fff, 344px 1741px #fff,
    106px 575px #fff, 342px 144px #fff, 1509px 116px #fff, 360px 1457px #fff,
    167px 1923px #fff, 1816px 1701px #fff, 55px 1434px #fff, 373px 737px #fff,
    355px 616px #fff, 877px 1387px #fff, 666px 1311px #fff, 1675px 1127px #fff,
    596px 1626px #fff, 1430px 1685px #fff, 605px 661px #fff, 1855px 1671px #fff,
    1202px 821px #fff, 1333px 1927px #fff, 1819px 1889px #fff, 811px 393px #fff,
    1119px 1715px #fff, 1159px 1545px #fff, 912px 1447px #fff, 1128px 137px #fff,
    1913px 1057px #fff, 446px 1280px #fff, 1104px 1871px #fff, 343px 1150px #fff,
    307px 480px #fff, 663px 1066px #fff, 309px 361px #fff, 809px 1076px #fff,
    367px 908px #fff, 465px 900px #fff, 785px 136px #fff, 938px 1410px #fff,
    153px 1971px #fff, 1711px 986px #fff, 1311px 316px #fff, 1633px 991px #fff,
    1081px 438px #fff, 782px 347px #fff, 49px 1152px #fff, 1728px 1141px #fff,
    1429px 686px #fff, 776px 1024px #fff, 478px 1848px #fff, 336px 1393px #fff,
    298px 1599px #fff, 391px 101px #fff, 48px 1192px #fff, 1785px 199px #fff,
    543px 587px #fff, 181px 427px #fff, 1837px 1065px #fff, 1592px 453px #fff,
    138px 283px #fff, 1473px 1128px #fff, 1215px 607px #fff, 1918px 1254px #fff,
    179px 1675px #fff, 454px 1905px #fff, 473px 1384px #fff, 76px 1949px #fff,
    895px 356px #fff, 605px 1849px #fff, 572px 1541px #fff, 1263px 738px #fff,
    462px 1547px #fff, 941px 1190px #fff, 1033px 1919px #fff, 1660px 1030px #fff,
    1146px 279px #fff, 320px 1978px #fff, 1473px 510px #fff, 178px 304px #fff,
    403px 926px #fff, 108px 729px #fff, 1207px 1709px #fff, 1687px 1601px #fff,
    301px 1711px #fff, 1964px 1249px #fff, 618px 1007px #fff, 1096px 1392px #fff,
    1521px 680px #fff, 1727px 970px #fff, 32px 823px #fff, 364px 603px #fff,
    1405px 301px #fff, 1070px 100px #fff, 1355px 280px #fff, 1426px 568px #fff,
    742px 1664px #fff, 158px 1993px #fff, 205px 1877px #fff, 300px 319px #fff,
    665px 968px #fff, 765px 1752px #fff, 738px 1008px #fff, 1351px 1793px #fff,
    1766px 937px #fff, 1783px 333px #fff, 1857px 1309px #fff, 1973px 873px #fff,
    1792px 964px #fff, 386px 953px #fff, 1373px 1722px #fff, 1013px 1651px #fff,
    468px 1129px #fff, 649px 71px #fff, 1775px 1626px #fff, 1183px 1123px #fff,
    1381px 527px #fff, 1011px 1520px #fff, 1439px 823px #fff, 1663px 855px #fff,
    1546px 103px #fff, 924px 367px #fff, 344px 1773px #fff, 1269px 1240px #fff,
    320px 1202px #fff, 245px 1728px #fff, 385px 1646px #fff, 1719px 1959px #fff,
    290px 1485px #fff, 1442px 440px #fff, 267px 1851px #fff, 148px 134px #fff,
    1327px 1244px #fff, 548px 488px #fff, 936px 751px #fff, 468px 1145px #fff,
    521px 131px #fff, 1683px 1993px #fff, 1292px 717px #fff, 1430px 1041px #fff,
    1007px 1679px #fff, 1443px 412px #fff, 190px 140px #fff, 337px 598px #fff,
    996px 1050px #fff, 312px 1953px #fff, 86px 922px #fff, 447px 539px #fff,
    1574px 294px #fff, 1170px 31px #fff, 939px 69px #fff, 567px 948px #fff,
    1705px 1172px #fff, 541px 1704px #fff, 1791px 498px #fff, 1587px 1009px #fff,
    121px 397px #fff, 102px 47px #fff, 1810px 157px #fff, 683px 987px #fff,
    1214px 575px #fff, 1743px 1246px #fff, 520px 966px #fff, 54px 1857px #fff,
    1194px 1549px #fff, 1583px 650px #fff, 1581px 638px #fff, 1582px 1965px #fff,
    1px 418px #fff, 1455px 1595px #fff, 998px 1147px #fff, 1874px 780px #fff,
    1003px 1276px #fff, 1821px 151px #fff, 882px 383px #fff, 550px 1979px #fff,
    659px 186px #fff, 1261px 1123px #fff, 1062px 1759px #fff, 764px 86px #fff,
    164px 935px #fff, 1307px 1783px #fff, 1519px 708px #fff, 78px 418px #fff,
    1059px 981px #fff, 1066px 1216px #fff, 484px 1022px #fff, 1161px 1539px #fff,
    683px 1947px #fff, 1618px 1970px #fff, 1051px 222px #fff, 1302px 1465px #fff,
    1553px 1078px #fff, 628px 523px #fff, 1292px 689px #fff, 853px 605px #fff,
    1711px 1140px #fff, 841px 861px #fff, 1265px 877px #fff, 667px 1813px #fff,
    1513px 60px #fff, 1584px 1226px #fff, 1029px 538px #fff, 468px 621px #fff,
    1182px 921px #fff, 1961px 950px #fff, 1299px 1360px #fff, 500px 1925px #fff,
    753px 1259px #fff, 1601px 1989px #fff, 629px 242px #fff, 343px 889px #fff,
    1698px 973px #fff, 1408px 1592px #fff, 736px 67px #fff, 1782px 1363px #fff,
    1683px 1396px #fff, 131px 984px #fff, 1410px 1610px #fff, 1257px 1838px #fff,
    1704px 1046px #fff, 1020px 182px #fff, 862px 368px #fff, 691px 1153px #fff,
    321px 1600px #fff, 182px 1518px #fff, 1824px 522px #fff, 1797px 995px #fff,
    1235px 1361px #fff, 1801px 1158px #fff, 754px 593px #fff, 1133px 46px #fff,
    1894px 1176px #fff, 1244px 494px #fff, 1971px 342px #fff, 196px 1318px #fff,
    1594px 513px #fff, 1949px 480px #fff, 744px 1237px #fff, 345px 491px #fff,
    965px 515px #fff, 606px 828px #fff, 123px 1849px #fff, 1629px 1485px #fff,
    1253px 990px #fff, 1828px 1193px #fff, 1696px 1752px #fff, 324px 1497px #fff,
    134px 826px #fff, 1453px 148px #fff, 1461px 1383px #fff, 1883px 1336px #fff,
    494px 1053px #fff, 664px 240px #fff, 1330px 1020px #fff, 1449px 841px #fff,
    198px 297px #fff, 1319px 1603px #fff, 1531px 447px #fff, 141px 1933px #fff,
    772px 388px #fff, 892px 196px #fff, 449px 1157px #fff, 66px 1382px #fff,
    232px 550px #fff, 1532px 1412px #fff, 1954px 346px #fff, 410px 990px #fff,
    1759px 1120px #fff, 1893px 1115px #fff, 1041px 954px #fff,
    1799px 1691px #fff, 19px 100px #fff, 1637px 1615px #fff, 186px 1217px #fff,
    802px 1163px #fff, 1661px 1154px #fff, 257px 857px #fff, 1561px 257px #fff,
    1506px 369px #fff, 650px 60px #fff, 740px 106px #fff, 1351px 511px #fff,
    1034px 595px #fff, 228px 874px #fff, 1813px 1632px #fff, 77px 1046px #fff,
    370px 1633px #fff, 1420px 1204px #fff, 1281px 891px #fff, 695px 1150px #fff,
    992px 1563px #fff, 387px 989px #fff, 348px 222px #fff, 945px 1495px #fff,
    820px 1164px #fff, 1932px 739px #fff, 1702px 1368px #fff, 942px 8px #fff,
    864px 1146px #fff, 1013px 1473px #fff, 1108px 809px #fff, 1523px 1972px #fff,
    253px 62px #fff, 1542px 126px #fff, 705px 1029px #fff, 1726px 927px #fff,
    1409px 634px #fff, 814px 1656px #fff, 767px 884px #fff, 111px 1613px #fff,
    1358px 725px #fff, 1428px 1824px #fff, 1204px 256px #fff, 310px 1501px #fff,
    553px 118px #fff, 1301px 345px #fff, 1674px 179px #fff, 1736px 745px #fff,
    1306px 660px #fff, 875px 1740px #fff, 228px 751px #fff, 450px 509px #fff,
    620px 836px #fff, 157px 182px #fff, 240px 730px #fff, 673px 21px #fff,
    1724px 1843px #fff, 1922px 356px #fff, 472px 1501px #fff, 1988px 412px #fff,
    1462px 664px #fff, 301px 1984px #fff, 29px 769px #fff, 778px 285px #fff,
    1720px 540px #fff, 89px 1529px #fff, 1033px 1661px #fff, 165px 718px #fff,
    1845px 288px #fff, 58px 672px #fff, 141px 165px #fff, 1337px 28px #fff,
    1320px 333px #fff, 33px 465px #fff, 37px 1549px #fff, 1307px 696px #fff,
    1066px 729px #fff, 1757px 1840px #fff, 259px 1229px #fff, 1550px 607px #fff,
    1170px 1817px #fff, 1136px 761px #fff, 274px 1321px #fff, 415px 1929px #fff,
    718px 394px #fff, 941px 897px #fff, 24px 1460px #fff, 1890px 213px #fff,
    492px 1069px #fff, 276px 556px #fff, 1398px 638px #fff, 1689px 419px #fff,
    982px 1098px #fff, 1815px 850px #fff, 925px 1521px #fff, 1334px 941px #fff,
    1458px 1732px #fff, 1899px 1328px #fff, 422px 528px #fff, 1915px 686px #fff,
    856px 1151px #fff, 363px 131px #fff, 47px 1039px #fff, 554px 1963px #fff,
    535px 1224px #fff, 845px 1542px #fff, 1366px 610px #fff, 1860px 1387px #fff,
    1988px 1480px #fff, 1529px 145px #fff, 1548px 412px #fff, 1120px 282px #fff,
    1875px 686px #fff, 795px 1919px #fff, 1967px 1114px #fff, 1854px 1393px #fff,
    1155px 992px #fff, 1098px 14px #fff, 1364px 1642px #fff, 894px 24px #fff,
    117px 1594px #fff, 122px 1434px #fff, 698px 558px #fff, 1504px 1189px #fff,
    724px 1308px #fff, 1461px 1922px #fff, 1112px 431px #fff, 1445px 1584px #fff,
    1236px 527px #fff, 66px 69px #fff, 1638px 141px #fff, 1274px 1060px #fff,
    540px 1480px #fff, 1709px 757px #fff, 1143px 1124px #fff, 88px 1275px #fff,
    56px 1775px #fff, 1205px 1320px #fff, 1090px 1296px #fff, 452px 65px #fff,
    954px 1645px #fff, 467px 1546px #fff, 767px 1342px #fff, 1026px 290px #fff,
    1316px 1030px #fff, 726px 763px #fff, 108px 1741px #fff, 1865px 22px #fff,
    643px 765px #fff, 450px 1779px #fff, 691px 454px #fff, 1137px 944px #fff,
    1741px 1060px #fff, 1102px 1839px #fff, 1074px 180px #fff, 1278px 177px #fff,
    1647px 1817px #fff, 1593px 205px #fff, 726px 1178px #fff, 11px 245px #fff,
    347px 1352px #fff, 423px 988px #fff, 1944px 1893px #fff, 1206px 140px #fff,
    1742px 1865px #fff, 442px 1568px #fff, 1700px 385px #fff, 1114px 1380px #fff,
    491px 543px #fff, 1475px 682px #fff, 1455px 301px #fff, 730px 1308px #fff,
    1688px 812px #fff, 1959px 1454px #fff, 1014px 1609px #fff, 1889px 941px #fff,
    1764px 280px #fff, 160px 1291px #fff, 1200px 1770px #fff, 1545px 999px #fff,
    1323px 1182px #fff, 588px 1913px #fff, 1836px 1546px #fff, 1587px 19px #fff,
    1911px 1095px #fff, 1835px 947px #fff, 1814px 975px #fff, 1715px 1832px #fff,
    417px 687px #fff, 1294px 540px #fff, 586px 1767px #fff, 785px 527px #fff,
    1689px 1308px #fff, 129px 205px #fff, 708px 1282px #fff, 1952px 87px #fff,
    1635px 99px #fff, 1747px 836px #fff, 1806px 289px #fff, 1316px 1314px #fff,
    1006px 738px #fff, 897px 530px #fff, 715px 1198px #fff, 148px 1981px #fff,
    1253px 521px #fff, 825px 1853px #fff, 286px 539px #fff, 1437px 705px #fff,
    476px 1198px #fff, 1606px 977px #fff, 1779px 455px #fff, 9px 115px #fff,
    1307px 937px #fff, 1442px 326px #fff, 1132px 1634px #fff, 1098px 267px #fff,
    818px 1556px #fff, 478px 517px #fff, 786px 1860px #fff, 847px 1213px #fff,
    1923px 1163px #fff, 1748px 1815px #fff, 196px 1246px #fff, 231px 672px #fff,
    1167px 673px #fff, 1002px 1413px #fff, 255px 296px #fff, 182px 712px #fff,
    347px 90px #fff, 1941px 829px #fff, 728px 573px #fff, 196px 1227px #fff,
    430px 1729px #fff, 227px 609px #fff, 455px 1450px #fff, 1324px 424px #fff,
    1696px 900px #fff, 172px 782px #fff, 254px 660px #fff, 993px 1783px #fff,
    1497px 1822px #fff, 551px 1323px #fff, 1692px 1266px #fff, 55px 646px #fff,
    683px 1715px #fff, 1310px 1160px #fff, 156px 1589px #fff, 860px 631px #fff,
    739px 1298px #fff, 1061px 1706px #fff, 1487px 1598px #fff, 1351px 91px #fff,
    300px 1275px #fff, 1375px 1223px #fff, 898px 762px #fff, 1715px 1025px #fff,
    1500px 197px #fff, 429px 391px #fff, 703px 1866px #fff, 1034px 893px #fff,
    272px 430px #fff, 1360px 1009px #fff, 774px 1520px #fff, 721px 1850px #fff,
    1339px 1207px #fff, 148px 1103px #fff, 879px 1097px #fff, 1528px 15px #fff,
    326px 1817px #fff, 187px 1110px #fff, 1983px 1768px #fff, 1501px 1762px #fff,
    1392px 1936px #fff, 616px 744px #fff, 136px 1719px #fff, 1568px 1443px #fff,
    254px 1422px #fff, 953px 1483px #fff, 1349px 857px #fff, 1537px 1453px #fff,
    779px 445px #fff, 1854px 986px #fff, 265px 343px #fff, 293px 1672px #fff,
    313px 497px #fff, 1886px 221px #fff, 1455px 1841px #fff, 297px 323px #fff,
    934px 550px #fff, 24px 671px #fff, 1636px 303px #fff;
  animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  min-height: 100%;
}

body {
  min-height: 100vh;
}
